/*
*  ============================
*
*    [Table of contents]
*
*    Alert
*    Notifications
*    Statuses
*
*  ============================
*/

//=============================
//  [1. Alert]
//=============================

$alert-types: success, error, warn;

// *** colors ***

$alert-success-bg: #d2ece3;
$alert-success-border: #97e5ca;
$alert-success-font: #3ea782;

$alert-error-bg: #f7cad3;
$alert-error-border: #dd8596;
$alert-error-font: #e64e6e;

$alert-warn-bg: #fff6dc;
$alert-warn-border: #f1e0b1;
$alert-warn-font: #c19b2b;

// alert styles
%alert-success {
  background-color: $alert-success-bg;
  border-color: $alert-success-border;
  color: $alert-success-font;
}

%alert-error {
  background-color: $alert-error-bg;
  border-color: $alert-error-border;
  color: $alert-error-font;
}

%alert-warn {
  background-color: $alert-warn-bg;
  border-color: $alert-warn-border;
  color: $alert-warn-font;
}

// notification styles
%notif-success-icon {
  fill: $alert-success-font;
}

%notif-error-icon {
  fill: $alert-error-font;
}

%notif-warn-icon {
  fill: $alert-warn-font;
}

// status styles
%status-success {
  color: $alert-success-font;
}

%status-error {
  color: $alert-error-font;
}

%status-warn {
  color: $alert-warn-font;
}

// *** settings ***
.alert {
  padding: 20px;
  clear: both;
}

.alert__box {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

@each $type in $alert-types {
  .alert--#{$type} {
    @extend .alert;
    .alert__icon {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      background: url(../images/svg/alert-#{$type}.svg) no-repeat;
      vertical-align: middle;
    }
    .alert__box {
      @extend %alert-#{$type};
    }
  }
}

//=============================
//  [2. Notifications]
//=============================

$notification-duration: 0.3s;
$notification-easing-in: cubic-bezier(0.215, 0.61, 0.355, 1);
$notification-easing-out: cubic-bezier(0.55, 0.055, 0.675, 0.19);

.notification-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

// .notification {
// 	@include drop-shadow-right-down(3px, rgba(0, 0, 0, 0.06));
// 	position: absolute;
// 	top: 0;
// 	right: -100%;
// 	z-index: 9;
// 	width: 340px;
// 	height: 90px;
// 	margin-top: 20px;
// 	border-width: 1px;
// 	border-style: solid;
// 	@extend %enable-gpu;
// 	@include transition(right $notification-duration $notification-easing-out);
// }

.notification {
  @include drop-shadow-right-down(3px, rgba(0, 0, 0, 0.06));
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 99;
  width: 340px;
  height: 90px;
  line-height: 90px;
  border-width: 1px;
  border-style: solid;
  visibility: hidden;
  transition: top $notification-duration $notification-easing-out, opacity 0.2s $notification-easing-out;
}

.notification__button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  i {
    display: block;
    background: url(../images/svg/notif-close.svg) no-repeat;
    width: 15px;
    height: 15px;
  }
}

.notification__msg {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 100px;
  line-height: normal;
}

.notification.is-active {
  right: 0;
  transition: right $notification-duration $notification-easing-in;
}

@each $type in $alert-types {
  .notification.is-#{$type} {
    @extend .notification;
    @extend %alert-#{$type};
    background-image: url(../images/svg/notif-bg-#{$type}.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    .notification__button i path {
      @extend %notif-#{$type}-icon;
    }
  }
}

//=============================
//  [3. Statuses]
//=============================

@each $type in $alert-types {
  .status-#{$type} {
    @extend %status-#{$type};
    padding-left: 23px;
    background: url(../images/svg/alert-#{$type}.svg) no-repeat left center;
  }
}
