/*
*  ============================
*
*    [Table of contents]
*
*    Button mixin
*    Button with icon mixin
*
*  ============================
*/

//=============================
//	[Button mixin]
//=============================

// *** Button variables ***
$btn-font-color: $white;

$btn-radius: 3px;
$btn-font-weight: 400;
$btn-height: 34px;
$btn-padding: 20px;

$btn-base-size: 50px;
$btn-multiplier: 1.2;

$btn-sizes: tiny, small, medium, large;

// *** Button mixins ***
@mixin btn-base($display: inline-block, $width: $btn-padding, $height: $btn-height, $radius: $btn-radius, $weight: $btn-font-weight) {
  display: $display;
  padding: 0 $btn-padding;
  border-radius: $radius;
  font-weight: $weight;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  height: $height;
  line-height: $height - 1;
}

//=============================
//	[Button with icon mixin]
//=============================

@mixin btn-with-icon($align: center, $icon-height: null, $height: $btn-height) {
  span,
  input,
  a {
    display: inline-block;
    vertical-align: middle;
  }
  @if $align == opposite {
    span:first-child,
    input,
    a {
      float: left;
    }
    span + span {
      float: right;
      margin-top: ($btn-height - $icon-height) / 2;
    }
  }
}